{% extends "base.html" %}

{% block title %}About Us | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content" class="about-us">
        <div class="frame group">
            <h1>About Us</h1>
            <div class="about-module group">
                <div class="left">
                    <h2>Officially Dating: <span>St. Pat's Day, 2007</span></h2>
                    <p>
                        We officially started dating on a rowdy party bus traveling from bar-to-bar on St. Patty's Day in 2007. Not only is this date perfect for celebrating our anniversary, it also drastically decreases the likeliness that Nick will forget.
                    </p>
                </div>
                <div class="inset">
                    <img src="https://nickandashley.s3.amazonaws.com/images/first-date.jpg" alt="Officially Dating: St. Patty's Day, 2007" title="Officially Dating: St. Patty's Day, 2007">
                </div>
            </div>
            <div class="about-module group">
                <div class="left">
                    <img src="https://nickandashley.s3.amazonaws.com/images/koda.jpg" alt="The Dog: August 12th, 2008" title="The Dog: August 12th, 2008">
                </div>
                <div class="inset">
                    <h2>The Dog: <span>August 12th, 2008</span></h2>
                    <p>
                        Koda is our 1-&frac12; year old Greater Swiss Mountain Dog (<a target="_blank" href="http://en.wikipedia.org/wiki/Greater_Swiss_Mountain_Dog" title="what?">what?</a>). Don't let the picture fool you, he's over 100 lbs now, and is longer than Nick is tall when he stretches out. Feel free to check out the cute-fest of <a target="_blank" href="http://www.flickr.com/photos/nicksergeant/sets/72157608129457211/">Koda pictures</a> (and a few videos), too.
                    </p>
                </div>
            </div>
            <div class="about-module group">
                <div class="left">
                    <h2>The Proposal: <span>August 4th, 2009</span></h2>
                    <p>
                        As avid Dave Matthews Band fans, Nick thought it'd be perfect to drop to one knee during their performance of "You and Me" at a show in Syracuse.
                    </p>
                </div>
                <div class="inset">
                    <img src="https://nickandashley.s3.amazonaws.com/images/the-proposal.jpg" alt="The Proposal: August 4th, 2009" title="The Proposal: August 4th, 2009">
                </div>
            </div>
            <div class="about-module group">
                <div class="left">
                    <img src="https://nickandashley.s3.amazonaws.com/images/house.jpg" alt="The House: January, 2010" title="The House: January, 2010">
                </div>
                <div class="inset">
                    <h2>The House: <span>January, 2010</span></h2>
                    <p>
                        After a few botched attempts at moving to both Boston and New York City, we decided to stick to our roots and purchase a home in Canandaigua. In November, the sellers accepted our offer and we closed on February 1st, 2010.
                    </p>
                </div>
            </div>
            <div class="about-module group last">
                <div class="left">
                    <h2>The Honeymoon: <span>October 11th, 2010</span></h2>
                    <p>
                        We'll be headed to Florida right after the wedding to hop on the "Monarch of the Seas" and cruise to the Bahamas.
                    </p>
                </div>
                <div class="inset">
                    <img src="https://nickandashley.s3.amazonaws.com/images/the-honeymoon.jpg" alt="The Honeymoon: October 11th, 2010" title="The Honeymoon: October 11th, 2010">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
