{% extends "base.html" %}

{% block title %}Accomodations | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content" class="accomodations about-us">
        <div class="frame group">
            <h1>Accommodations</h1>
            <div class="about-module group last">
                <div class="left">
                    <h2>Ramada Geneva Lakefront</h2>
                    <p>
                        We've reserved a group of rooms at the <a target="_blank" href="http://genevaramada.com">Ramada Geneva Lakefront</a> at a special discounted rate. Please <a href="#contact-us" id="contact-us">contact us</a> for information on how to obtain a reservation.
                    </p>
                    <p style="margin-bottom: 0;">
                        <strong>Hotel address and phone:</strong><br>
                        41 Lakefront Drive<br>
                        Geneva, NY 14456<br>
                        (315) 789-0400<br>
                    </p>
                </div>
                <div class="inset">
                    <a target="_blank" href="http://genevaramada.com"><img src="https://nickandashley.s3.amazonaws.com/images/ramada.jpg" alt="Ramada Geneva Lakefront" title="Ramada Geneva Lakefront"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
