{% extends "base.html" %}

{% block title %}Home | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content" class="homepage">
        <div class="frame group">
            <ul class="montage">
                <li><a href="#" class="homepage-1">&nbsp;</a></li>
                <li><a href="#" class="homepage-2">&nbsp;</a></li>
                <li><a href="#" class="homepage-3">&nbsp;</a></li>
                <li><a href="#" class="homepage-4">&nbsp;</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
