{% extends "base.html" %}

{% block title %}Registry | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content" class="registry">
        <div class="frame group">
            <h1>Registry</h1>
            <div class="about-module group">
                <div class="left">
                    <h2>Honeyfund</h2>
                    <p style="margin-bottom: 0;">
                        While a gift is not necessary, feel free to consider donating to our honeymoon fund.
                    </p>
                </div>
            </div>
            <div class="about-module last group">
                <div class="left">
                    <h2>Bed Bath &amp; Beyond</h2>
                    <p style="margin-bottom: 0;">
                        We've also registered our wedding at Bed Bath &amp; Beyond. Feel free to browse our <a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=%2D347808772&amp;">registry listing</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
