{% extends "base.html" %}

{% block title %}The Events | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content" class="the-events">
        <div class="frame group">
            <h1>The Events</h1>
            <div class="left">
                <h2>Ceremony <span>@ 2PM</span></h2>
                <div class="event-venue">St. Mary's Church</div>
                <div class="event-location">Canandaigua, NY (<a target="_blank" href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=St.+Mary%27s+Church,+Canandaigua,+NY&amp;sll=42.890838,-77.283475&amp;sspn=0.009778,0.019398&amp;g=95+N+Main+St,+Canandaigua,+Ontario,+New+York+14424&amp;ie=UTF8&amp;hq=St.+Mary%27s+Church,&amp;hnear=Canandaigua,+NY&amp;ll=42.901244,-77.282038&amp;spn=0.038856,0.110292&amp;z=14&amp;iwloc=A">map &raquo;</a>)</div>
                <div class="venue-photo">
                    <a target="_blank" href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=St.+Mary%27s+Church,+Canandaigua,+NY&amp;sll=42.890838,-77.283475&amp;sspn=0.009778,0.019398&amp;g=95+N+Main+St,+Canandaigua,+Ontario,+New+York+14424&amp;ie=UTF8&amp;hq=St.+Mary%27s+Church,&amp;hnear=Canandaigua,+NY&amp;ll=42.901244,-77.282038&amp;spn=0.038856,0.110292&amp;z=14&amp;iwloc=A" title="Photo by statPaige on Flickr"><img src="https://nickandashley.s3.amazonaws.com/images/st-marys.jpg" alt="Photo by statPaige on Flickr" title="Photo by statPaige on Flickr"></a>
                </div>
            </div>
            <div class="right">
                <h2>Reception <span>@ 5pm</span></h2>
                <div class="event-venue">Ventosa Vineyards</div>
                <div class="event-location">Geneva, NY (<a target="_blank" href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Ventosa+Vineyards,+Geneva,+NY&amp;sll=43.154784,-77.615557&amp;sspn=0.322087,0.620728&amp;ie=UTF8&amp;hq=Ventosa+Vineyards,&amp;hnear=Geneva,+NY&amp;ll=42.86376,-76.936398&amp;spn=0.080904,0.155182&amp;z=13&amp;iwloc=A">map &raquo;</a>)</div>
                <div class="venue-photo">
                    <a target="_blank" href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Ventosa+Vineyards,+Geneva,+NY&amp;sll=43.154784,-77.615557&amp;sspn=0.322087,0.620728&amp;ie=UTF8&amp;hq=Ventosa+Vineyards,&amp;hnear=Geneva,+NY&amp;ll=42.86376,-76.936398&amp;spn=0.080904,0.155182&amp;z=13&amp;iwloc=A"><img src="https://nickandashley.s3.amazonaws.com/images/ventosa-vineyard.jpg" alt="" title=""></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
