{% extends "base.html" %}

{% block title %}Wedding Party | {{ block.super }}{% endblock %}

{% block content %}
    <div id="content" class="wedding-party">
        <div class="frame group">
            <h1>Wedding Party</h1>
            <ul id="banner-set-1" class="group">
                <li>
                    <a class="active" href="#" id="a1" onclick="return false;">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/bridget-elder.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">Bridget Elder</span>
                                <span class="person-title">Sister of the Bride</span>
                                <span class="person-class">Matron of Honor</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="return false;">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/melissa-allen.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">Melissa Allen</span>
                                <span class="person-title">College friend of the Bride</span>
                                <span class="person-class">Bridesmaid</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="return false;">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/maggie-callaghan.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">Maggie Callaghan</span>
                                <span class="person-title">High school friend of the Bride</span>
                                <span class="person-class">Bridesmaid</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="return false;">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/nicole-leone.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">Nicole Leone</span>
                                <span class="person-title">Work friend of the Bride</span>
                                <span class="person-class">Bridesmaid</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="return false;">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/rachel-giardina.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">Rachel Giardina</span>
                                <span class="person-title">Sorority sister of the Bride</span>
                                <span class="person-class">Bridesmaid</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="return false;">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/becky-berowski.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">Becky Berowski</span>
                                <span class="person-title">College friend of the Bride</span>
                                <span class="person-class">Bridesmaid</span>
                            </span>
                        </p>
                    </a>
                </li>
            </ul>
            <ul id="banner-set-2" class="group">
                <li>
                    <a class="active" href="#" id="a2">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/jeremy-mcbride.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">Jeremy McBride</span>
                                <span class="person-title">Cousin of the Groom</span>
                                <span class="person-class">Best Man</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/colton-sergeant.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">Colton Sergeant</span>
                                <span class="person-title">Brother of the Groom</span>
                                <span class="person-class">Groomsman</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/mike-minute.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">Mike Minute</span>
                                <span class="person-title">Friend of the Groom</span>
                                <span class="person-class">Groomsman</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/john-list.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">John List</span>
                                <span class="person-title">Childhood friend of the Groom</span>
                                <span class="person-class">Groomsman</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/travis-perry.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">Travis Perry</span>
                                <span class="person-title">College friend of the Groom</span>
                                <span class="person-class">Groomsman</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>
                            <img src="https://nickandashley.s3.amazonaws.com/images/kevin-elder.jpg" alt="" title="">
                            <span class="bio">
                                <span class="person-name">Kevin Elder</span>
                                <span class="person-title">Brother-in-law of the Bride</span>
                                <span class="person-class">Groomsman</span>
                            </span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
